Image hashes may not match when a new cloud-image is uploaded

We ran into a situation where new minimal cloud images were uploaded, but we were getting image hash mismatch errors.

Turns out that the SHA256SUM file is cached by Qt and it was using an older cached version of that file instead or retrieving the new one. 

We need to force Qt to always hit the actual URL when retrieving the hash file.

After some investigation about what Qt is doing, it uses RFC 2616 section 13.2.3 and section 13.2.4 on determining when something in the cache is expired.  It does not actual see if there is a newer file on the server first when determining this.

After discovering this and applying it to how we treat files, I think it's best just to bypass using Qt caching at all.  The files we retrieve that are cached are relatively small, so I don't see much of an impact on just downloading the file every time we need it to ensure it is up to date.

In the future, if this is a problem, we should develop our own caching and use the `LastModified` header to determine if there is a newer file.